/* Profile block */
body {
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    margin-bottom: 100px;
}

h1, h2 {
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align:center
}

#top-section {
    background-image: url("https://pbs.twimg.com/profile_banners/18057404/1668716110/1500x500");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#link-btn-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
}

.link-btn {
    list-style-type: none;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 4px;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 10px;
}

.link-btn a {
    font-weight: bold;
    text-decoration: none;

}

.link-btn:hover {
    box-shadow: 0 0 0;
}


.profile-card {
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 500px;
  background: #EFF6E0;
  padding: 20px;
  color: #01161E;
  border-bottom: 10px solid #AEC3B0;
}

.avatar {
  border-radius: 50%

}
.icon {
  margin-bottom: 10px
}

.icon img {
  max-width: 20px;
  margin-right: 10px;
}

.profile-text {
  margin: auto 10px;
}

/* Status block */

.status-container {
  max-width: 1020px;
  margin: 0 auto 100px;
  padding: 0 10px
}

.status {
  border: 2px solid #598392;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "status-avatar status-name"
                       "status-avatar status-content";
}

.status-item:nth-child(1) {
  grid-area: status-avatar;
}
.status-item:nth-child(2) {
  grid-area: status-name;
}
.status-item:nth-child(3) {
  grid-area: status-content;
}


.status-avatar img {
  border-radius: 50%;
  max-width: 50px;
  margin: 0 20px;
}

.status-name {
  line-height: 50px;
}

/* Links block */

.links-container {
  margin-left: 1em;
}

/* General */

.box {
  background-color: grey;
}

p {
  word-wrap: break-word;
}

hr {
  background-color: black;
}

/* Media Queries */


.iris-images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.iris-image {
  max-width: 400px;
}

.iris-images img {
  max-width: 100%;
}