.parent {
  display: grid;
  row-gap: 50px;
  margin: 20px 50px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* Profile block */

.profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 0.5fr 0.5fr;
  grid-template-areas: "avatar name"
                       "avatar job"
                       "avatar facts";
  padding: 20px;
}

.profile-item:nth-child(1) {
  grid-area: avatar;
}
.profile-item:nth-child(2) {
  grid-area: name;
}
.profile-item:nth-child(3) {
  grid-area: job;
}
.profile-item:nth-child(4) {
  grid-area: facts;
}

.name {
  font-size: 2rem;
  padding: 20px 0;
}

.avatar img {
  border-radius: 50%;
  max-width: 200px;
}

.icon img {
  max-width: 20px;
  margin-right: 10px;
}

.job {
  display: inline-block;
}

/* Status block */

/* General */

.box {
  background-color: grey;
}

h1 {
  margin: 10px 0
}
