{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive img-circle" src="{% static 'img/profile.jpg' %}" alt="">
                    <div class="intro-text">
                        <h1 class="name">Benjamin Heap</h1>
                        <hr class="star-light">
                        <span class="skills">Creator - Web Developer - Dreamer - Project Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stuff</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <a href="https://medium.com/@benjaminpheap" target="_blank">
                        <img class="img-rounded" src="{% static 'img/medium.png' %}" alt="Medium Blog">
                    </a>
                    <div class="caption">
                      <h3>My Medium Blog</h3>
                      <p>So, if you've been here before this site has often been a blog, but I thought why recreate the wheel? If I have something to say, I now use Medium to share my thoughts.</p>
                      <p class="stuff-btn"><a href="https://medium.com/@benjaminpheap" target="_blank" class="btn btn-primary" role="button">Open</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <a href="https://www.geenee.org" target="_blank">
                        <img class="img-rounded" src="{% static 'img/geenee.jpeg' %}" alt="GEENEE">
                    </a>
                    <div class="caption">
                      <h3>GEENEE</h3>
                      <p>I made this site with a great back end developer and housemate who taught me alot. He dealt solely with the Angular JS backend, but I provided branding, design, and the majority of the front end code. A great learning experience. </p>
                      <p class="stuff-btn"><a href="https://www.geenee.org" target="_blank" class="btn btn-primary" role="button">Open</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <a href="http://www.sharontheap.co.uk/" target="_blank">
                        <img class="img-rounded" src="{% static 'img/sharontheap.jpg' %}" alt="Sharon T Heap">
                    </a>
                    <div class="caption">
                      <h3>Sharon T Heap</h3>
                      <p>My first Python Django project deployed on Heruko & Amazon S3, building on a bootstrap front end I had built. My Mum can now upload her own pictures and isn't she good!</p>
                      <p class="stuff-btn"><a href="http://www.sharontheap.co.uk/" target="_blank" class="btn btn-primary" role="button">Open</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <a href="http://tippingthewink.com/" target="_blank">
                        <img class="img-rounded" src="{% static 'img/tippingthewink.jpg' %}" alt="Tipping the Wink">
                    </a>
                    <div class="caption">
                      <h3>Tipping the Wink</h3>
                      <p>I built this site and did the logo design for a couple of friends looking to set up a betting tips site. It uses a combination of Wordpress with X-Theme</p>
                      <p class="stuff-btn"><a href="http://tippingthewink.com/" target="_blank" class="btn btn-primary" role="button">Open</a></p>
                    </div>
                  </div>
                </div>


            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>By day I'm a MSP® & PRINCE2® certified practioner, with over 7 years experience of managing complex IT and change management Programmes and Projects. I'm obsessed with implementation, organisation and process improvement. If you want to know more about my career history, take a look at the CV below. </p>
                </div>
                <div class="col-lg-4">
                    <p>By night, I'm a creative entrepreneur and web developer with a keen eye for branding working under the ostentatious company name Simply Ben Ltd. This site will mostly focus on my "night" projects, showcasing my latest ventures that can be seen above. If you're interested in working with me <strong>Find Me</strong> below and I may make this my day job!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="{% static 'docs/benjamin_heap_cv.pdf' %}" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download My CV
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
<!--    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
<!--                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="phone">Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="message">Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
-->-->{% endblock content %}
